body {
  margin: 0;
}


h1 {
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: bold;
  color: white;
  text-align: center;
}


h2 {
  font-family: 'Montserrat';
  font-size: 27px;
  font-weight: normal;
  color: #A0A0A0;

}

h3 {
  font-family: 'Lora';
  font-size: 30px;
  color: #FFFFFF;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

p {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
}

a {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
  font-family: 'Lora';
  text-decoration: none;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  padding: 0 3em;
}

a:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

.header {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px;

}

.container {
  margin: 0 auto;
  width: 1000px;
}

.card {
  margin: 20px auto;
  width: 700px;
  padding: 0 3em;
}
